# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build / Output
# =========================
dist/
build/

# =========================
# Environment variables
# =========================
.env*

# =========================
# Logs
# =========================
*.log

# =========================
# Cache / temp
# =========================
.cache/
*.tmp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editors / IDE
# =========================

# VSCode (оставляем полезные настройки)
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Другие IDE
.idea/
*.code-workspace

# =========================
# Misc
# =========================
*.swp
*~
